[submodule "Machine Learning Projects/es335-24-fall-assignment-1-master"]
	path = Machine Learning Projects/es335-24-fall-assignment-1-master
	url = https://github.com/ES335-The-Learning-Machines/assignment_1.git
